# Практическое занятие 1

Python - это один из наиболее популярных языков программирования используемых для решения задач анализа данных, машинного обучения, веб-разработки и других задач. Это высокоуровневый объектно-ориентированный язык программирования с динамической типизацией и автоматическим управлением памятью.

## Типы данных

В питоне все переменные являются объектами, которые имеют определённый тип. Типы данных бывают изменяемые и неизменяемые (англ. mutable и immutable). К неизменяемым относятся целые числа (int), числа с плавающей запятой (float), булевы значения (bool), строки (str), кортежи (tuple). К изменяемым — списки (list), множества (set), байтовые массивы (byte arrays) и словари (dict).

Для того чтобы определить изменяемый или неизменяемый объект пригодятся функции type() и id().
Функция type() выводит тип объекта, а функция id() - уникальный идентификатор объекта в виде целого числа.

In [ ]:
a = 1
type(a)

int

In [ ]:
a = '123'
type(a)

str

In [ ]:
a = [1, 2, 3, 4, 5]
type(a)

list

In [ ]:
a = (1, 2, 3, 4, 5)
type(a)

tuple

In [ ]:
a = set([1, 2, 3, 4, 5])
type(a)

set

Попробуем изменить строку:

In [ ]:
a = 'abcd'
a[0] = 'f'

TypeError: 'str' object does not support item assignment

## Числа

В Python 3 есть целые, вещественные и комплексные числа. Мы остановимся на рассмотрении действительных чисел, т. е. целых и чисел с плавающей запятой.

К чилсам применимы следующие операции:

**x + y**	- сложение

**x - y**	- вычитание

**x * y**	- умножение

**x / y**	- деление

**x // y**	- получение целой части от деления

**x % y**	- остаток от деления

**-x**	- смена знака числа

**abs(x)**	- модуль числа

**divmod(x, y)**	- пара (x // y, x % y)

**x ** y**	- возведение в степень

In [ ]:
10 // 3

3

In [ ]:
10 % 3

1

In [ ]:
2**2

4

## Списки

Списки в Python - упорядоченные изменяемые коллекции объектов произвольных типов.

Создать список можно несколькими способами:

In [ ]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
s = []

In [ ]:
l = ['1', '2', ['abc'], 2]

In [ ]:
l = [c * 3 for c in 'list'] # генератор списков или list comprehension

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

Python поддерживает отрицательное индексирование и в списках можно использовать срезы для извлечения значений.

`item[START:STOP:STEP]` - берёт срез от номера START, до STOP (не включая его), с шагом STEP. По умолчанию START = 0, STOP = длине объекта, STEP = 1.

In [ ]:
a = [1, 3, 8, 7]
print(a[:])
print(a[1:])
print(a[:3])
print(a[::2])

[1, 3, 8, 7]
[3, 8, 7]
[1, 3, 8]
[1, 8]

Основные методы списков:
    
**list.append(x)** - добавляет элемент в конец списка

**list.extend(L)** - расширяет список list, добавляя в конец все элементы списка L

**list.insert(i, x)** - вставляет на i-ый элемент значение x

**list.remove(x)** - удаляет первый элемент в списке, имеющий значение x. ValueError, если такого элемента не существует

**list.pop([i])** - удаляет i-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент

**list.index(x, [start [, end]])** - Возвращает положение первого элемента со значением x (при этом поиск ведется от start до end)

**list.count(x)** - возвращает количество элементов со значением x

**list.sort([key=функция])** - сортирует список на основе функции

**list.reverse()** - разворачивает список

**list.copy()** - поверхностная копия списка

**list.clear()** - очищает список

В отличие от строковых методов методы списков изменяют сам список, поэтому результат выполнения не нужно перезаписывать.

Отсортируем список:

In [ ]:
l = [1, 2, 3, 5, 7]
l.sort()
print(l)

[1, 2, 3, 5, 7]

In [ ]:
a = [1, 3.5, 12, 10, 1024, 1, 1, 2]
print(a.count(1), a.count(10), a.count('a'))

3 1 0

Добавим элемент -1 на позицию (по индексу) 2.

In [ ]:
a.insert(2, -1)
print(a)

[1, 3.5, -1, 12, 10, 1024, 1, 1, 2]

В конец списка добавить элемент можно с помощью метода `.append()`:

In [ ]:
print(a)
a.append(5)
print(a)

[1, 3.5, -1, 12, 10, 1024, 1, 1, 2]
[1, 3.5, -1, 12, 10, 1024, 1, 1, 2, 5]

Определить индекс заданного элемента списка можно с помощью:

In [ ]:
a.index(5)

9

Теперь удалим из списка элемент 1:

In [ ]:
a.remove(1) # за один запуск удаляется один элемент 1 (если таких элементов несколько в списке)
print(a)

[3.5, -1, 12, 10, 1024, 1, 1, 2, 5]

Обращение элементов списка:

In [ ]:
print(a)
a.reverse()
print(a)

[3.5, -1, 12, 10, 1024, 1, 1, 2, 5]
[5, 2, 1, 1, 1024, 10, 12, -1, 3.5]

## Множества

Множество (set) — это изменяемый набор уникальных и неупорядоченных элементов.

Множества в питоне эквивалентны множествам с математике, опэтому к ним применимы те же операции, что и для математических множеств, т. е. к множествам можно применять операции объединение, пересечение и разность.

Элементами множества может быть любой неизменяемый тип данных: числа, строки, кортежи. Изменяемые типы данных не могут быть элементами множества, в частности, нельзя сделать элементом множества список (но можно сделать кортеж) или другое множество.

Создать множество можно следующим образом:

In [ ]:
a = set()
a

set()

In [ ]:
a = set('python')
a

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
a = {'a', 'b', 'c', 'd'}
a

{'a', 'b', 'c', 'd'}

In [ ]:
a = {i ** 2 for i in range(10)} # генератор множеств
a

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

Но вот так создать множество нельзя, получится словарь:

In [ ]:
a = {}
type(a)

dict

Преобразование к множеству списка можно использовать для удаления дубликатов в списке.

In [ ]:
words = ['hello', 'python', 'hello', 'mipt']
set(words)

{'hello', 'mipt', 'python'}

С множествами можно выполнять следующие действия:

**len(s)** - число элементов в множестве (размер множества).

**x in s** - принадлежит ли x множеству s.

**set.isdisjoint(other)** - истина, если set и other не имеют общих элементов.

**set == other** - все элементы set принадлежат other, все элементы other принадлежат set.

**set.issubset(other) или set <= other** - все элементы set принадлежат other.

**set.issuperset(other) или set >= other** - аналогично.

**set.union(other, ...) или set | other | ...** - объединение нескольких множеств.

**set.intersection(other, ...) или set & other & ...** - пересечение.

**set.difference(other, ...) или set - other - ...** - множество из всех элементов set, не принадлежащие ни одному из other.

**set.symmetric_difference(other); set ^ other** - множество из элементов, встречающихся в одном множестве, но не встречающиеся в обоих.

**set.copy()** - копирование множества.

**set.update(other, ...); set |= other | ...** - объединение.

**set.intersection_update(other, ...); set &= other & ...** - пересечение.

**set.difference_update(other, ...); set -= other | ...** - вычитание.

**set.symmetric_difference_update(other); set ^= other** - множество из элементов, встречающихся в одном множестве, но не встречающиеся в обоих.

**set.add(elem)** - добавляет элемент в множество.

**set.remove(elem)** - удаляет элемент из множества. Возникает KeyError, если такого элемента не существует.

**set.discard(elem)** - удаляет элемент, если он находится в множестве.

**set.pop()** - удаляет первый элемент из множества. Так как множества не упорядочены, нельзя точно сказать, какой элемент будет первым.

**set.clear()** - очистка множества.

In [ ]:
a = {1, 2, 3}
a.add(4)
print(a)

{1, 2, 3, 4}

Для удаления элементов из множества можно использовать `discard` и `remove`, их поведение различается тогда, когда удаляемый элемент отсутствует в множестве: `discard` не делает ничего, а метод `remove` генерирует исключение `KeyError`, которое вы увидите в одной из ячеек ниже.

In [ ]:
a.remove(1)
print(a)

{2, 3, 4}

In [ ]:
a.remove(0)
print(a)

KeyError: 0

In [ ]:
a.discard(2)
print(a)

{3, 4}

In [ ]:
a.discard(0)
print(a)

{3, 4}

Операции над множествами можно записывать как коротко символами, так и названиями соответствующих функций:

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a.union(b))
print(a | b)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a.intersection(b))
print(a & b)

{3, 4}
{3, 4}

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a.difference(b))
print(a - b)

{1, 2}
{1, 2}

Симметрическая разность двух множеств - множество, состоящее из элементов, входящих в одно и только одно из данных множеств:

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a.symmetric_difference(b))
print(a ^ b)

{1, 2, 5, 6}
{1, 2, 5, 6}

In [ ]:
Проверка того что множество является подмножестовм другого множества:

SyntaxError: invalid syntax (1096921135.py, line 1)

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a <= b)
print(a.issubset(b))

c = {3, 4}
d = {3, 4, 5, 6}
print(c <= d)
print(c.issubset(d))

False
False
True
True

Перебрать все элементы множества (в неопределенном порядке!) можно при помощи цикла for:

In [ ]:
numbers = {2, 3, 5, 7, 11}
for num in numbers:
    print(num)

2
3
5
7
11

## Кортежи

Кортеж можно представить как неизменяемый список. Неизменяемость необходима для того чтобы защитить данные от изменений. Преимуществом кортежей по сравнению со списками является меньший размер:

In [ ]:
a = (1, 2, 3, 4, 5, 6)
b = [1, 2, 3, 4, 5, 6]
print(a.__sizeof__())
print(b.__sizeof__())

72
136

Неизменяемость кортежей позволяет использовать их в качестве ключей словаря.

Создать кортеж можно следующим образом:

In [ ]:
a = tuple() # С помощью встроенной функции tuple()
a = () # С помощью литерала кортежа

In [ ]:
Создаём кортеж из одного элемента, но .... получаем строку:

SyntaxError: invalid syntax (4113409652.py, line 1)

In [ ]:
a = ('s')
a

's'

In [ ]:
Для того, чтобы создать кортеж из одного элемента нужно использовать:

SyntaxError: invalid syntax (2537154394.py, line 1)

In [ ]:
a = ('s', )
a

('s',)

## Функции map, filter, reduce, zip

Функция map() — это встроенная функция, которая позволяет обрабатывать и преобразовывать все элементы в итерируемом объекте без использования явного цикла for, методом, широко известным как сопоставление (mapping). Эта функция полезна когда нужно применить функцию преобразования к каждому элементу в коллекции или в массиве и преобразовать их в новый массив.

`map(function, iterable[, iterable1, iterable2,..., iterableN])`

Первый аргумент map() — это объект функция, что означает, что вам нужно передать функцию, не вызывая ее, т. е. без пары скобок.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = []
for num in numbers:
    squared.append(num ** 2)

print(squared)

[1, 4, 9, 16, 25]

In [ ]:
def square(num):
    return num ** 2

numbers = [1, 2, 3, 4, 5]
squared = map(square, numbers)
print(list(squared))

[1, 4, 9, 16, 25]

Так как функция map() возвращает объект с типом - <class 'filter'>, для получения самого результата необходимо преобразовать вывод.

Функция filter() в Python применяет другую функцию к заданному итерируемому объекту (список, строка, словарь и так далее), проверяя, нужно ли сохранить конкретный элемент или нет. Другими словами, эта функция отфильтровывает то, что не проходит и возвращает все остальное.

Функция filter() принимает два параметра. Первый — имя созданной пользователем функции, а второй — итерируемый объект (список, строка, множество, кортеж и так далее).

In [ ]:
numbers = [1, 2, 4, 5, 7, 8, 10, 11]

# функция, которая проверяет числа
def filter_odd_num(in_num):
    if(in_num % 2) == 0:
        return True
    else:
        return False

# Применение filter() для удаления нечетных чисел
out_filter = filter(filter_odd_num, numbers)

print("Тип объекта out_filter: ", type(out_filter))
print("Отфильтрованный список: ", list(out_filter))

Тип объекта out_filter:  <class 'filter'>
Отфильтрованный список:  [2, 4, 8, 10]

In [ ]:
list1 = ["Python", "CSharp", "Java", "Go"]
list2 = ["Python", "Scala", "JavaScript", "Go", "PHP"]

def filter_duplicate(string_to_check):
    if string_to_check in ll:
        return False
    else:
        return True

# Применение filter() для удаления повторяющихся строк
ll = list2
out_filter = list(filter(filter_duplicate, list1))
ll = list1
out_filter += list(filter(filter_duplicate, list2))

print("Отфильтрованный список:", out_filter)

Отфильтрованный список: ['CSharp', 'Java', 'Scala', 'JavaScript', 'PHP']

Функция reduce() принимает в качестве аргументов функцию и список. Функция вызывается с помощью лямбда-функции и итерируемого объекта и возвращается новый уменьшенный результат. Так выполняется повторяющаяся операцию над парами итерируемых объектов. Функция reduce() входит в состав модуля functools.

In [ ]:
from functools import reduce


lst = [5, 1, 4, 1, 2, 3]
summa = reduce((lambda x, y: x + y), lst)
print(summa)

16

In [ ]:
lst = ['5', '1', '4', '1', '2', '3']
summa = reduce((lambda x, y: x + y), lst)
print(summa)

514123

Функция zip() в Python создает итератор, который объединяет элементы из нескольких источников данных. Эта функция работает со списками, кортежами, множествами и словарями для создания списков или кортежей, включающих все эти данные.

In [ ]:
numbers = [2, 9, 18, 28, 2]
str_1 = ["c", "a1", "b", "d"]

zipped_values = zip(str_1, numbers)
zipped_list = list(zipped_values)

print(zipped_list)

zipped_values = zip(numbers, str_1)
zipped_list = list(zipped_values)

print(zipped_list)

[('c', 2), ('a1', 9), ('b', 18), ('d', 28)]
[(2, 'c'), (9, 'a1'), (18, 'b'), (28, 'd')]

# Задания

1. Введите с клавиатуры строку, содержащую элементы списка. Элементы разделены пробелом. Поменяйте порядок элементов списка на обратный.

In [2]:
lst = input().split()
lst.reverse()
lst

1 2 3 4 5

['5', '4', '3', '2', '1']

2. C помощью цикла создайте список чисел от 1 до 10, а также списки их квадратов и кубов. Выведите полученные списки на экран. Отфильтруйте те значения, которые делятся на 2 без остатка.

In [3]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(map(lambda x: x * x, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Напишите функцию, которая принимает два списка и возвращает новый список, в котором каждый элемент равен произведению элементов обоих списков.

In [5]:
def f(a, b):
  return [a[i] * b[i] for i in range(len(a))]

4. На основании 3 исходных множеств (передаются в качестве аргументов функции diff()) требуется написать функцию, которая будет возвращать либо симметричную разность, либо просто разность (если дополнительный аргумент функции symmetric имеет значение False) приведенных объектов в порядке: 1-ое множество, 2-ое множество, 3-е множество.

In [6]:
def diff(set1, set2, set3, symmetric=False):
  if symmetric:
    return set1 ^ set2 ^ set3
  return set1 - set2 - set3

5. Напишите программу, которая удаляет из списка чисел нечетные числа.

In [10]:
list_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[i for i in list_numbers if i % 2 == 0]

[2, 4, 6, 8, 10]

6. Сгенерируйте числа от 1 до 10000 и найдите их сумму.

In [11]:
from random import randint
list_random = [randint(1, 1000) for _ in range(1000)]
sum(list_random)

490202

7. Перед вами имеется список numbers, состоящий из целых чисел. Ваша задача преобразовать каждый элемент списка numbers в строку и сохранить полученный результат в новый список strings. Для преобразования используйте функцию map.
В качестве ответа выведите переменную strings.

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
strings = list(map(str, numbers))
strings

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

8. Напишите функцию superset(), которая принимает 2 множества. Результат работы функции: вывод в консоль одного из сообщений в зависимости от ситуации:
1 - «Супермножество не обнаружено»
2 – «Объект {X} является чистым супермножеством»
3 – «Множества равны»

In [15]:
def superset(set1, set2):
     if set1 == set2:
      print("Множества равны")
      return
     if set1.issuperset(set2):
      print(f"Объект {set1} является чистым")
     elif set2.issuperset(set1):
      print(f"Объект {set2} является чистым")
     else:
      print("Супермножество не обнаружено")

9*. Предоставлен список натуральных чисел. Требуется сформировать из них множество. Если какое-либо число повторяется, то преобразовать его в строку по образцу: например, если число 4 повторяется 3 раза, то в множестве будет следующая запись: само число 4, строка «44» (второе повторение, т.е. число дублируется в строке), строка «444» (третье повторение, т.е. строка множится на 3). Реализуйте вывод множества через функцию set_gen().

In [ ]:
def set_gen(numbers):
  print(set([str(i) * numbers.count(i) for i in numbers]))
# в сулоие маленькая проблема в том что у нас может быть сисок 44 44 4 4 4 4  в итоге буцдет 4444 4444?

10*. Создайте кортеж из 7-ми именованных кортежей учащихся ВУЗов. В именованном кортеже будут присутствовать следующие поля: имя студента, оценка за семестр, город проживания. Функция good_students() будет принимать этот кортеж, вычислять среднюю оценку по всем учащимся и выводить на печать следующее сообщение: “Ученики {список имен студентов через запятую} в этом семестре хорошо учатся!”. В список студентов, которые выводятся по результатам работы функции, попадут лишь те, у которых оценка за семестр равна или выше средней по всем учащимся.

In [16]:
from collections import namedtuple

Student = namedtuple('Student', ['name', 'grade', 'city'])

students = (
    Student(name='Алексей', grade=4.5, city='Москва'),
    Student(name='Мария', grade=3.8, city='Санкт-Петербург'),
    Student(name='Иван', grade=4.9, city='Казань'),
    Student(name='Ольга', grade=3.5, city='Екатеринбург'),
    Student(name='Дмитрий', grade=4.2, city='Новосибирск'),
    Student(name='Елена', grade=5.0, city='Ростов-на-Дону'),
    Student(name='Сергей', grade=4.0, city='Нижний Новгород')
)

def good_students(students):
    average_grade = sum(student.grade for student in students) / len(students)
    good_students_list = [student.name for student in students if student.grade >= average_grade]
    if good_students_list:
        print(f"Ученики {', '.join(good_students_list)} в этом семестре хорошо учатся!")
    else:
        print("Нет студентов, которые хорошо учатся в этом семестре.")


good_students(students)

Ученики Алексей, Иван, Елена в этом семестре хорошо учатся!